{% extends "accounts/base.html" %}
{%load static%}
{%block title%} login {%endblock%}

{%block content%}


<div class="sub-header align-center">
    <div class="subheader-holder" style="background:url({% static 'extra-images/cover_1.jpg'%}) no-repeat; background-size: cover; padding-top: 60px; padding-bottom: 30px; margin-top: 0px; margin-bottom: 0px; min-height: 186px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-holder">
                        <div class="page-title ">
                            <h1 style="color:#ffffff !important;">Login</h1>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs align-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section Start -->
<div class="main-section">
<div class="page-section nopadding cs-nomargin" style="margin-top: 0px; padding-top: 60px; padding-bottom: 30px; margin-bottom: 0px;">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="signup-form login-form">
                <div class="tab-content">
                    <div id="signup_box" class="">
                        <div class="scetion-title">
                            <h2>Sign In</h2>
                        </div>
                        <div class="section-title">
                            {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'success' %}
                            
                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            
                            <script>
                                var m = "{{ message }}";
                                Swal.fire({
                                    position: "top-end",
                                    icon: "success",
                                    title: m,
                                    showConfirmButton: false,
                                    timer: 1500
                                  });
                              </script>
                              
                            {% elif message.tags == 'error' %}
                        
                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            
                            <script>
                                var m = "{{ message }}";
                                Swal.fire({
                                    position: "top-end",
                                    icon: "error",
                                    title: m,
                                    showConfirmButton: false,
                                    timer: 1500
                                  });
                              </script>
                              {% elif message.tags == 'warning' %}
                              
                              <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                              
                              <script>
                                var m = "{{ message }}";
                                Swal.fire({
                                    position: "top-end",
                                    icon: "warning",
                                    title: m,
                                    showConfirmButton: false,
                                    timer: 1500
                                  });
                              </script>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
              
                        </div>
                        <div class="input-info">
                            <div class="row">
                                <form class="wp-user-form webkit" method="post" action="{% url 'accounts:login' %}">
                                    {% csrf_token %}

                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <label for="user_pass" class="control-label">Password</label>
                                        <div class="field-holder">
                                            
                                            <input type="password" name="password" placeholder="***********">
                                        </div>
                                    </div>
                                  
                                   
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <label for="user_email" class="control-label">E-Mail</label>
                                        <div class="field-holder">
                                            <input type="email" name="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="shortcode-ajax-signup-button input-button-loader">
                                            <button type="submit" class="cs-bgcolor user-submit acc-submit">
                                                Login</button>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                                        <div class="login-section">
                                            <i class="icon-user-add"></i> Already have an account?
                                            <a href="{% url 'accounts:register' %}"  class="login-link-page">Register here</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{%endblock%}