{% extends "base.html" %}
{%load static%}
{%block title%} success {%endblock%}

{%block content%}


<div class="sub-header align-center">
    <div class="subheader-holder" style="background:url({% static 'extra-images/cover_1.jpg'%}) no-repeat; background-size: cover; padding-top: 60px; padding-bottom: 30px; margin-top: 0px; margin-bottom: 0px; min-height: 186px !important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="text-holder">
                        <div class="page-title ">
                            <h1 style="color:#ffffff !important;">Register</h1>
                        </div>
                        <p style="color:#ffffff !important;">A great restaurant website</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="breadcrumbs align-left">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Register</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main Section Start -->
<div class="main-section">
<div class="page-section nopadding cs-nomargin" style="margin-top: 0px; padding-top: 60px; padding-bottom: 30px; margin-bottom: 0px;">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="signup-form login-form">
                <div class="tab-content">
                    <div id="signup_box" class="">
                     
                        <div class="section-title">
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} show-notification" role="alert">
                                    {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
        

                        </div>
                      
                      <a href="{% url 'accounts:login' %}" class="login-link-page">Click Here to login</a>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>


{%endblock%}